* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Sora', sans-serif;
  /* background-color: #ababc4; */
}

.container {
  width: 100%;
  margin: 0 auto;
  background: #1f3161;
}

.nav__bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 80px;
  box-shadow: -12px 5px 5px 4px;
  border-radius: 4px;
  margin-bottom: 60px;
  position: fixed;
  background: #1f3161;
  z-index: 3;
}

.nav__linksSearch, .nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.nav__logo {
  font-size: 30px;
  font-weight: 700;
  color: #f5ec42;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav__dropdown {
  margin-top: 227px;
}

.nav__searchInput {
  padding-left: 24px;
  outline: none;
  width: 100%;
}

.icon-div {
  display: flex;
  width: 20px;
  position: absolute;
  background: #f5ec42;
  height: 20px;
  /* margin: auto; */
  margin-left: 3px;
  margin-top: 2px;
  border-radius: 50%;
}

.fa-magnifying-glass {
  margin: auto;
  font-size: 12px;
}

::placeholder {
  padding-left: 25px;
}

.nav__searchInput {
  height: 24px;
  border-radius: 15px;
}

.main-page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  place-items: center;
  padding: 72px;
}

.high-rated {
  color: darkcyan;
  padding-top: 9%;
  padding-left: 75px;
  font-size: 25px;
}

.num-of-movies {
  order: 0;
}

.movie-content {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: auto;
  width: 100%;
  position: relative;
  transition: .5s;
  /* box-shadow: 14px 4px 24px -1px; */
}

.card-image {
  width: inherit;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  position: relative;
}

.overlay-img {
  background-color: rgba(29, 75, 105, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
  opacity: .7;
}

.movie-img {
  width: inherit;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.movie-content:hover .movie-img {
  transition: 0.5s ease-in-out;
  opacity: .5;
}

.movie-descrp {
  display: none;
  transition: 1s ease-in;
}

.movie-descrp {
  width: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  gap: 5px;
  position: absolute;
  transition: 1s;
  margin-top: 78%;
  text-align: center;
}

.movie-content:hover {
  transform: scale(1.02);
  transition: .5s ease-in;
}

.btnDiv {
  display: none;
}

.movie-content:hover .btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: auto;
}

.movie-ratings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: inherit;
  justify-content: flex-end;
  padding: 5px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.like-btn {
  color: darkgoldenrod;
  font-size: 25px;
  cursor: pointer;
  margin-left: 2px;
  justify-self: flex-start;
}

.rateCounts {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
}

.movie-title {
  color: #f5ec42;
  z-index: 2;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:200px; 
  padding: 4px;
  cursor: pointer;
  align-items: center;
  transition: 1s ease-in;
  position: relative;
}

.movie-title:after {
  content: '';
  position: absolute;
  width: 60%;
  height: 3px;
  transform: scaleX(0);
  bottom: 0;
  left: 20%;
  background-color: #f5ec42;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.movie-content:hover .movie-title:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.movie-comment {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border-radius: 3px;
  color: #000;
  background: #f5ec42;
  width: auto;
  border: 0;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

.movie-reservation {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border-radius: 2px;
  color: #000;
  background: #f5ec42;
  width: auto;
  border: 0;
  font-size: 15px;
  padding: 5px;
}

footer {
  justify-content: space-between;
  align-items: center;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  color: #000;
  background-color: #ababc4;
  z-index: 2;
}

.close {
  display: none;
}

.humb {
  display: none;
}

/* media querries */
@media (max-width: 600px) {
  .nav {
    height: 60px;
    position: fixed;
    background: #ababc4;
    width: 100%;
    z-index: 5;
  }

  .nav-left {
    background: url(http://localhost:8080/c1a21f7dea14f3c3b440.png);
    background-repeat: no-repeat;
    background-size: 122px;
    width: 109px;
    height: 150px;
    background-position: center;
  }

  .high-rated {
    color: darkcyan;
    padding-left: 44px;
    font-size: 28px;
    padding-top: -4px;
    padding-top: 103px;
  }

  .movie-img {
    height: 339px;
  }

  .main-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
  }

  .nav-items {
    display: none;
    margin-top: 100px;
  }

  .nav-middle .nav-items li a {
    margin-top: 30px !important;
    color: #fff !important;
    font-size: 19px;
    font-weight: 600;;
  }

  .movies-display {
    gap: 20px;
  }

  .humb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .close {
    display: none;
    order: 2;
    z-index: 3;
  }

  .close-menu {
    font-size: 20px;
    color: orange;
    margin-left: 102px;
    font-weight: 700;
  }

  .span {
    width: 17px;
    border: 1px solid ghostwhite;
    margin-top: 3px;
  }

  .nav-middle {
    background: teal;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    /* left: 80px; */
  }

  .nav-item {
    height: 62px;
    padding-left: 28px;
  }

  .nav-item a {
    color: #fff;
  }
}

@media (min-width: 601px)  and (max-width: 920px) {
  .main-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
  }

  .movies-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .nav {
    height: 60px;
    position: fixed;
    background: #ababc4;
    width: 100%;
    z-index: 5;
  }

  .nav-left {
    background: url(http://localhost:8080/c1a21f7dea14f3c3b440.png);
    background-repeat: no-repeat;
    background-size: 122px;
    width: 109px;
    height: 150px;
    background-position: center;
  }

  .high-rated {
    color: darkcyan;
    padding-left: 44px;
    font-size: 28px;
    padding-top: -4px;
    padding-top: 103px;
  }

  .movie-img {
    height: 339px;
  }

  .nav-items {
    display: none;
    margin-top: 100px;
  }

  .nav-middle .nav-items li a {
    margin-top: 30px !important;
    color: #fff !important;
    font-size: 19px;
    font-weight: 600;
  }

  .humb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .close {
    display: none;
    order: 2;
    z-index: 3;
  }

  .close-menu {
    font-size: 20px;
    color: orange;
    margin-left: 102px;
    font-weight: 700;
    position: absolute;
  }

  .span {
    width: 17px;
    border: 1px solid ghostwhite;
    margin-top: 3px;
  }

  .nav-middle {
    background: teal;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    /* left: 80px; */
  }

  .nav-item {
    height: 62px;
    padding-left: 28px;
  }
}
